uploads/gmm_model/gmm_best_jenis_kelamin_report.csv
uploads/gmm_model/gmm_best_lokasi_report.csv
uploads/gmm_model/gmm_best_status_report.csv
uploads/gmm_model/gmm_best_unit_kerja_report.csv
uploads/gmm_model/gmm_classification_report.csv
uploads/gmm_model/gmm_clusters.png
uploads/gmm_model/gmm_confusion_matrix.png
uploads/gmm_model/gmm_html_results.txt
uploads/gmm_model/gmm_metrics.csv
uploads/gmm_model/gmm_model.pkl
uploads/gmm_model/gmm_output.csv
uploads/gmm_model/gmm_pca.png
uploads/gmm_model/gmm_report.pdf
uploads/hierarchical_model/hierarchical_best_jenis_kelamin_report.csv
uploads/hierarchical_model/hierarchical_best_lokasi_report.csv
uploads/hierarchical_model/hierarchical_best_status_report.csv
uploads/hierarchical_model/hierarchical_best_unit_kerja_report.csv
uploads/hierarchical_model/hierarchical_classification_report.csv
uploads/hierarchical_model/hierarchical_clusters.png
uploads/hierarchical_model/hierarchical_confusion_matrix.png
uploads/hierarchical_model/hierarchical_dendrogram.png
uploads/hierarchical_model/hierarchical_html_results.txt
uploads/hierarchical_model/hierarchical_metrics.csv
uploads/hierarchical_model/hierarchical_output.csv
uploads/hierarchical_model/hierarchical_pca.png
uploads/hierarchical_model/hierarchical_report.pdf
uploads/kmeans_model/kmeans_best_jenis_kelamin_report.csv
uploads/kmeans_model/kmeans_best_lokasi_report.csv
uploads/kmeans_model/kmeans_best_status_report.csv
uploads/kmeans_model/kmeans_best_unit_kerja_report.csv
uploads/kmeans_model/kmeans_classification_report.csv
uploads/kmeans_model/kmeans_clusters.png
uploads/kmeans_model/kmeans_confusion_matrix.png
uploads/kmeans_model/kmeans_html_results.txt
uploads/kmeans_model/kmeans_metrics.csv
uploads/kmeans_model/kmeans_model.pkl
uploads/kmeans_model/kmeans_output.csv
uploads/kmeans_model/kmeans_pca.png
uploads/kmeans_model/kmeans_report.pdf
